<a class="footer-items" href="/help">Help</a> 
<a class="footer-items" href="/about">About</a>
<a class="footer-items" href="/blogs">Press & Blogs</a>
<a class="footer-items" href="/copyright">Copyright</a>
<a class="footer-items" href="/partner">Partner System</a>
<a class="footer-items" href="/ugcads">User Ads</a>
<a class="footer-items" href="/docs">Documentation</a>
<a class="footer-items" href="/safety">Safety</a>
<a class="footer-items" href="/privacy">Privacy</a>
<a class="footer-items" href="/terms">Terms</a>
<div id="grey-text">
    &copy; {{ 'now' | date('Y') }} SubRocks, Parody
</div>