<div id="footer">
    <ul class="footer-links">
        <li><a href="http://www.google.com/support/youtube/bin/static.py?p=homepage&amp;page=start.cs&amp;hl=en_US">Help</a></li>
        <li><a href="/t/about">About</a></li>
        <li><a href="http://www.google.com/support/youtube/bin/request.py?contact_type=abuse&amp;hl=en_US">Safety</a></li>
        <li><a href="/t/privacy_at_youtube">Privacy</a></li>
        <li><a href="/t/terms">Terms</a></li>
        <li><a href="/t/dmca_policy">Copyright</a></li>
        <li><a href="/t/uploaders_partners">Uploaders &amp; Partners</a></li>
        <li><a href="http://code.google.com/apis/youtube/overview.html">Developers</a></li>
        <li><a href="/t/advertising" onmousedown="yt.analytics.trackEvent('Footer', 'link', 'Advertising');">Advertising</a></li>
    </ul>
    <p class="footer-info">
        <span dir="ltr">	© 2010 YouTube, LLC
        </span>
    </p>
    <ul class="pickers">
        <li>Language:
            <a href="#" onclick="yt.www.masthead.loadPicker('language-picker', ''); return false;">English</a>
        </li>
        <li>Location:
            <a href="#" onclick="yt.www.masthead.loadPicker('region-picker', ''); return false;">Worldwide</a>
        </li>
        <li>Safety mode:
            <a href="#" onclick="yt.www.masthead.loadPicker('safetymode-picker', ''); return false;">
            Off
            </a>
        </li>
    </ul>
    <div id="picker-container"></div>
    <div id="picker-loading" style="display: none">Loading...</div>
</div>