<a href="/"><img src="/yt/img/www-subrocks-logo.png" id="logo"></a>
<form method="get" action="search_query" id="search-bar">
    <input style="width: 355px;" class="text-default" name="q">
    <input type="submit" class="yt-uix-button" value="Search">
</form>
<span class="header-utils">
    <a href="/browse" class="www-header-util">Browse</a>
    <a href="/upload" class="www-header-util">Upload</a>

    <span class="right-align header-util-align">
        <a href="/upload" class="www-header-util">Sign In</a>
        <a href="/upload" class="www-header-util">Create Account</a>
    </span>
</span>