<div id="masthead" class="">
    <a href="/" title="YouTube home">
    <img id="logo" class="master-sprite" src="http://s.ytimg.com/yt/img/pixel-vfl73.gif" alt="YouTube home">
    </a>
    <div id="masthead-search">
        <form autocomplete="off" class="search-form" action="/results" method="get" name="searchForm" onsubmit="">
            <input id="masthead-search-term" class="search-term" name="search_query" value="" type="text" tabindex="1" onkeyup="goog.i18n.bidi.setDirAttribute(event,this)" maxlength="128">
            <button type="button" class="search-button yt-uix-button" onclick="if (_gel('masthead-search-term').value != '') { document['searchForm'].submit(); }; return false;;return false;" tabindex="2"><span class="yt-uix-button-content">Search</span></button>
            <script>document.getElementById('masthead-search-term').focus();</script>
        </form>
    </div>
    <div id="masthead-nav">
        <a href="/videos">Browse</a><a href="/upload_video">Upload</a>
    </div>
    <div id="masthead-utility">
        <a class="start" href="/sign_up">Create Account</a><a class="end" href="/sign_in">Sign In</a>
    </div>
</div>